@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'lexend-mega';
    src: url('./assets/LexendMega-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
textarea::placeholder {
    color: black;
  }